<h1>タスク一覧</h1>

<p><%= notice %></p>

<%= form_with(model: @task, method: :get, local: true, url: tasks_path) do |form| %>

  <div class="task_search">
    <%= form.label :name, "タイトル" %>
    <%= form.text_field :name %>
    <%= form.select :status, ['', '未着手', '着手中', '完了'], {} %>
    <%= form.hidden_field :search, value: 'true' %>
    <%= form.submit "検索" %>
  </div>

<% end %>
<br>
<table>
  <tr>
    <th>タスク名</th>
    <th>タスク詳細</th>
    <th><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
    <th>ステータス</th>
    <th><%= link_to "優先順位", tasks_path(sort_priority: "true") %></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.detail %></td>
    <td><%= task.expired_at.try(:strftime,"%Y/%m/%d %H:%M") %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to "詳細画面", task_path(task.id), id: "show_#{task.id}" %></td>
    <td><%= link_to "編集画面", edit_task_path(task.id), id: "edit_#{task.id}" %></td>
    <td>
      <%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @tasks %>

<%= link_to '新しくタスクを作成する', new_task_path %>