<h1><%= @user.name %>の詳細ページ</h1>
<p><%= "★管理者アカウントです" if @user.admin == true %></p>

<p>メールアドレス: <%= @user.email %></p>

<div>タスク一覧</div>
<br>
<% @tasks.each do |task| %>
<div>
  <span>タスク名 :</span><%= task.name %>
</div>
<div>
  <span>タスク詳細 : </span><%= task.detail %>
</div>
<% end %>
<br>
<%= link_to "管理者ユーザー一覧画面へ戻る", admin_users_path %>